<a href="https://colab.research.google.com/github/Sergio-Tolaba/2025DS-ipynb/blob/main/2.14%20Ej.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Data Science (texto = mark down)

In [ ]:
print("Hola Ciencia de datos con python")

## 01.Comenzando con Python 08 Desafío

1 - Imprime la frase "Escuela de Datos de Alura".

2 - Imprime tu nombre y tu apellido siguiendo la estructura a continuación:                                 
Nombre: [tu nombre]
Apellido: [tu apellido]

In [ ]:
print("Escuela de Datos de Alura")
print("Nombre: Sergio")
print("Apellido: Toli")

Escuela de Datos de Alura
Nombre: Sergio
Apellido: Toli

3 - Imprime tu primer nombre letra por letra. Por ejemplo, si mi nombre es Álvaro, la salida sería:

Á
L
V
A
R
O

In [ ]:
name ="Sergio"
for letter in name:
  print(letter)
# Solución más simple
print('')       # un salto de línea (línea en blanco)
print("\n")     # otro salto de línea (también imprime una línea en blanco)
print("S")
print("e")
print("r")

S
e
r
g
i
o



S
e
r

4 - Imprime tu fecha de nacimiento en formato día mes año. Recuerda que los valores de día y año no deben estar entre comillas. Suponiendo una fecha de cumpleaños el 28 de febrero de 2003, el formato debe ser como el siguiente: 28 febrero 2003

In [ ]:
day = 5 # 05 no está permitido, salvo que pongas "05" es decir como string (str)
month = "April"
year = 1965
print(day, month, year)
# f string
print(f"{day} {month} {year}")

5 April 1965
5 April 1965

5 - Imprime, en una sola instrucción print, el año actual en el que estás realizando este curso. El valor del año debe ser un dato numérico, y la salida de print debe ser la siguiente:

Año actual: [año]

In [ ]:
anio_actual = 2025
print(f"Año actual: {anio_actual}")

Año actual: 2025

In [ ]:
texto = '  sey   ' # =>SER
id(texto)

138172627964272

In [ ]:
texto1 = texto.strip().replace('y','r').upper()
print(texto, texto1)
id(texto), id(texto1)

  sey    SER

(138172627964272, 138172150600432)

#2.10 input()=>str, int(input()), float(input()), print(f'El nombre es {nombre})

In [ ]:
name=input('Captura de datos, ingresa tu nombre: ')

Captura de datos, ingresa tu nombre: Omar

In [ ]:
name

'Omar'

In [ ]:
entero = int(input('Ingresa un entero: '))

Ingresa un entero: 28

In [ ]:
calculo = entero +2
calculo

30

In [ ]:
chr(64)  #tabla unicode(amplia la tabla ascii)

'@'

## 14 Desafío: ¡Es hora de practicar!
1 - Crea un programa que solic-ite al usuario que escriba su nombre y luego imprima "Hola, [nombre]."

In [ ]:
nombre = input("Escribe tu nombre: ")
print(f"Hola, {nombre}.")

Escribe tu nombre: Sergio
Hola, Sergio.

2 - Crea un programa que solicite al usuario que escriba su nombre y edad, y luego imprima "Hola, [nombre], tienes [edad] años."

In [ ]:
nombre = input('¿Como es tu nombre? ')
edad = input('Cuántos años tienes? ')
print('Hola '+ nombre + ', tienes ' + edad + ' años.')

¿Como es tu nombre? Ser
Cuántos años tienes? 61
Hola Ser, tienes 61 años.

3 - Crea un programa que solicite al usuario que escriba su nombre, edad y altura en metros, y luego imprima "Hola, [nombre], tienes [edad] años y mides [altura] metros."

In [ ]:
nombre = input('Anota tu nombre: ')
edad = input('Anota tu edad: ')
altura = input('Anota tu altura en metros: ')
print(f'Hola {nombre}, tienes {edad} años y mides {altura} metro')

Anota tu nombre: María
Anota tu edad: 25
Anota tu altura en metros: 1.65
Hola María, tienes 25 años y mides 1.65 metro

4 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la suma de ambos valores.

In [ ]:
num1 =float(input('Ingesa un número: '))
num2 =float(input('Ingesa otro número: '))
suma = num1 + num2
print(f'La suma de {num1} y {num2} es {suma}')

Ingesa un número: 55.5
Ingesa otro número: 21.65
La suma de 55.5 y 21.65 es 77.15

5 - Crea un programa que solicite tres valores numéricos al usuario y luego imprima la suma de los tres valores.

In [ ]:
n1, n2, n3 = float(input('Ingresa un número: ')), float(input('Ingresa otro número: ')), float(input('Ingresa otro número: '))
print(f'La suma de {n1} + {n2} + {n3} es {n1+n2+n3}')

Ingresa un número: 2
Ingresa otro número: 5
Ingresa otro número: 9
La suma de 2.0 + 5.0 + 9.0 es 16.0

6 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la resta del primero menos el segundo valor.

In [ ]:
x,y =int(input('x= ')), int(input('y= '))
print(f'La resta de {x} - {y} es {x-y}')

x= 10
y= 2
La resta de 10 - 2 es 8

7 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la multiplicación de los dos valores.

In [ ]:
a,b=int(input('a= ')), int(input('b= '))
print(f'La multiplicación de {a} * {b} es {a*b}')

a= 7
b= 8
La multiplicación de 7 * 8 es 56

8 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

In [ ]:
numerador = float(input('Numerador: '))
denominador = float(input('Denominador (no puede ser 0): '))
print(numerador / denominador)

Numerador: 245.25
Denominador (no puede ser 0): 646.16
0.37954995666707936

9 - Crea un programa que solicite dos valores numéricos, un operador y una potencia, y realice la exponenciación entre estos dos valores.

In [ ]:
operador = int(input('Operador: '))
potencia = int(input('Potencia: '))
print(operador ** potencia)

Operador: 3
Potencia: 3
27

10 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entera entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

In [ ]:
numerador = int(input('Numerador: '))
denominador = int(input('Denominador (no puede ser 0): '))
print(numerador // denominador)

Numerador: 20
Denominador (no puede ser 0): 10
2

11 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y devuelva el resto de la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

In [2]:
numerador = int(input('Numerador: '))
denominador = int(input('Denominador (no puede ser 0): '))
modulo =numerador % denominador
modulo

Numerador: 7
Denominador (no puede ser 0): 3

1

13 - Crea un código que calcule e imprima el promedio ponderado de los números 5, 12, 20 y 15 con pesos respectivamente iguales a 1, 2, 3 y 4.

In [3]:
promedio_ponderado = (5*1 + 12*2 + 20*3 + 15*4) / (1+2+3+4)
promedio_ponderado

14.9