<a href="https://colab.research.google.com/github/Sergio-Tolaba/2025DS-ipynb/blob/main/py_data_sc_Alura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Data Science (texto = mark down)

In [ ]:
print("Hola Ciencia de datos con python")

## 01.Comenzando con Python 08 Desafío

1 - Imprime la frase "Escuela de Datos de Alura".

2 - Imprime tu nombre y tu apellido siguiendo la estructura a continuación:                                 
Nombre: [tu nombre]
Apellido: [tu apellido]

In [ ]:
print("Escuela de Datos de Alura")
print("Nombre: Sergio")
print("Apellido: Toli")

Escuela de Datos de Alura
Nombre: Sergio
Apellido: Toli

3 - Imprime tu primer nombre letra por letra. Por ejemplo, si mi nombre es Álvaro, la salida sería:

Á
L
V
A
R
O

In [ ]:
name ="Sergio"
for letter in name:
  print(letter)
# Solución más simple
print('')       # un salto de línea (línea en blanco)
print("\n")     # otro salto de línea (también imprime una línea en blanco)
print("S")
print("e")
print("r")

S
e
r
g
i
o



S
e
r

4 - Imprime tu fecha de nacimiento en formato día mes año. Recuerda que los valores de día y año no deben estar entre comillas. Suponiendo una fecha de cumpleaños el 28 de febrero de 2003, el formato debe ser como el siguiente: 28 febrero 2003

In [ ]:
day = 5 # 05 no está permitido, salvo que pongas "05" es decir como string (str)
month = "April"
year = 1965
print(day, month, year)
# f string
print(f"{day} {month} {year}")

5 April 1965
5 April 1965

5 - Imprime, en una sola instrucción print, el año actual en el que estás realizando este curso. El valor del año debe ser un dato numérico, y la salida de print debe ser la siguiente:

Año actual: [año]

In [ ]:
anio_actual = 2025
print(f"Año actual: {anio_actual}")

Año actual: 2025

In [1]:
texto = '  sey   ' # =>SER
id(texto)

138172627964272

In [3]:
texto1 = texto.strip().replace('y','r').upper()
print(texto, texto1)
id(texto), id(texto1)

  sey    SER

(138172627964272, 138172150600432)

In [4]:
print('github')

github